<h3>*ngIf</h3>
<p>Recomendado para árvore de elementos grandes</p>

<p>Utilizando a expressão *ngIf="cursos.length > 0"</p>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui: {{ cursos }}
</div>
<div *ngIf="cursos.length == 0">
  Não existem cursos para serem listados
</div>

<p>Utilizando a expressão *ngIf="mostrarCursos"</p>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui: {{ cursos }}
</div>
<div *ngIf="!mostrarCursos">
  Não existem cursos para serem listados
</div>

<br>
<button class="btn btn-primary" (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
<br>

<h4>Hidden como alternativa</h4>
<p>Recomendado para arvores de elementos pequenas</p>

<p>Utilizando a expressão propriedade [hidden]</p>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui: {{ cursos }}
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos para serem listados
</div>

<h5>Removendo o * e usando template</h5>

<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui.</div>
</ng-template>
