<p FundoAmarelo>Texto com fundo amarelo</p>

<button FundoAmarelo>Botão com fundo amarelo</button>

<p [ngStyle]="{
  'fontWeight' : (isMouseOver ? 'bold' : 'normal')
  }" (mouseenter)="onMouseEnterOrLeave()" (mouseleave)="onMouseEnterOrLeave()">
  Texto com highlight quando passo o mouse.
</p>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<p [highlight]="corSelecionada">
  Texto com highlight com cores customizadas.
</p>
<br>

<input type="color" (input)="mudaCor($event)">

{{ corSelecionada }}

<div *ngIf="mostrarCursos">
  Lista de cursos aqui: {{ cursos }}
</div>
<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados
</div>

<br>
<button class="btn btn-primary" (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>
<br>

<template [ngElse]="mostrarCursos">
  <div>
    Não Existem cursos para serem listados.
  </div>
</template>
