<div>
  <div class="form-group">
    <label for="id">ID</label>
    <input disabled [(ngModel)]="aluno.id" type="text" class="form-control" id="id">
  </div>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input (input)="onInput()" [(ngModel)]="aluno.nome" type="text" class="form-control" id="nome">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input (input)="onInput()" [(ngModel)]="aluno.email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
