<div class="m-3">
  <label for="formFile" class="form-label">Selecionar arquivo</label>
  <input class="form-control" type="file" id="formFile" (change)="onChange($event)" multiple>
</div>

<progressbar class="m-3" *ngIf="activateProgressBar" [animate]="true" [value]="valueProgressBar">{{ valueProgressBar }}%</progressbar>

<div class="mt-3">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!temArquivoUpado">Upload</button>
</div>

<div class="mt-3">
  <button type="button" class="btn btn-primary me-1" (click)="onDownloadExcel()">Download Excel</button>
  <button type="button" class="btn btn-primary me-1" (click)="onDownloadPDF()">Download PDF</button>
</div>
