<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://seeklogo.com/images/B/Botafogo_Futebol_Clube_de_Laguna-SC-logo-6E291985DB-seeklogo.com.png" alt="Logo" width="17" height="18.75" class="d-inline-block align-text-top">
      Nickson.net
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"
          [class.active]="aba == 'home'"
          (click)="aba = 'home'" href="#">Home</a>
        <a class="nav-link"
          [class.active]="aba == 'mapa'"
          (click)="aba = 'mapa'" href="#">Mapa</a>
        <a class="nav-link"
          [class.active]="aba == 'lista'"
          (click)="aba = 'lista'" href="#">Lista</a>
      </div>
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo Mapa ativado</p>
  <p *ngSwitchCase="'lista'">Modo Lista ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>
