<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <app-input-field class="row-12" formControlName="nome"
    id="nome" label="Nome" type="text" placeholder="Nome"
    [classeCss]="aplicaCssErro('nome')"
    [control]="getFieldFormGroup('nome')">
  </app-input-field>

  <!-- <div class="row-12">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" aria-describedby="nome" formControlName="nome"
      [ngClass]="aplicaCssErro('nome')">
    <app-error-msg [control]="getFieldFormGroup('nome')" label="Nome">
    </app-error-msg>
  </div> -->

  <div class="row-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="name@example.com"
      formControlName="email" [ngClass]="aplicaCssErro('email')">
    <app-error-msg [control]="getFieldFormGroup('email')" label="Email"></app-error-msg>
    <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" mensagemErro="E-mail é obrigatório">
    </app-campo-control-erro>
    <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" mensagemErro="Email inválido">
    </app-campo-control-erro> -->
    <app-campo-control-erro [mostrarErro]="formulario.get('email')?.status === 'PENDING'" mensagemErro="Validando email...">
    </app-campo-control-erro>
    <app-campo-control-erro [mostrarErro]="formulario.get('email')?.status === 'VALID'" mensagemErro="Email válido!">
    </app-campo-control-erro>
    <!-- <app-campo-control-erro [mostrarErro]="formulario.get('email')?.hasError('emailInvalido')" mensagemErro="Email já cadastrado!">
    </app-campo-control-erro> -->
  </div>

  <div class="row-12">
    <label for="confirmarEmail" class="form-label">Confirmar Email</label>
    <input type="email" class="form-control" id="confirmarEmail" aria-describedby="confirmarEmail" placeholder="name@example.com"
      formControlName="confirmarEmail" [ngClass]="aplicaCssErro('confirmarEmail')">
    <app-error-msg [control]="getFieldFormGroup('confirmarEmail')" label="Confirmar Email"></app-error-msg>
    <!-- <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail')?.hasError('equalsTo')" mensagemErro="E-mails não são iguais">
    </app-campo-control-erro> -->
  </div>

  <br>
  <p class="text-muted">Endereço</p>
  <hr>

  <div formGroupName="endereco">
    <div class="row">
        <div class="col-2">
          <label for="cep" class="form-label">CEP</label>
          <input class="form-control" type="text" formControlName="cep" id="cep" [ngClass]="aplicaCssErro('endereco.cep')" required
            (blur)="consultaCEP()">
          <app-error-msg [control]="getFieldFormGroup('endereco.cep')" label="CEP"></app-error-msg>
          <!-- <app-campo-control-erro [mostrarErro]="verificaRequired('endereco.cep')" mensagemErro="Cep é obrigatório">
          </app-campo-control-erro>
          <app-campo-control-erro [mostrarErro]="formulario.get('endereco.cep')?.hasError('cepInvalido')" mensagemErro="Cep inválido">
          </app-campo-control-erro> -->
        </div>

      <div class="col-12">
        <label for="rua" class="form-label">Rua</label>
        <input class="form-control" type="text" formControlName="rua" id="rua" [ngClass]="aplicaCssErro('endereco.rua')"
          required>
        <app-error-msg [control]="getFieldFormGroup('endereco.rua')" label="Rua"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" mensagemErro="Rua é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-4">
        <label for="numero" class="form-label">Número</label>
        <input class="form-control" type="text" formControlName="numero" id="numero" [ngClass]="aplicaCssErro('endereco.numero')"
          required>
        <app-error-msg [control]="getFieldFormGroup('endereco.numero')" label="Número"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" mensagemErro="Número é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-8">
        <label for="complemento" class="form-label">Complemento</label>
        <input class="form-control" type="text" formControlName="complemento" id="complemento"
          [ngClass]="aplicaCssErro('endereco.complemento')">
        <app-error-msg [control]="getFieldFormGroup('endereco.complemento')" label="Complemento"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.complemento')"
          mensagemErro="Complemento é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <div class="col-6">
        <label for="bairro" class="form-label">Bairro</label>
        <input class="form-control" type="text" formControlName="bairro" id="bairro"
          [ngClass]="aplicaCssErro('endereco.bairro')">
        <app-error-msg [control]="getFieldFormGroup('endereco.bairro')" label="Bairro"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" mensagemErro="Bairro é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <!-- <div class="col-2">
        <label for="estado" class="form-label">Estado</label>
        <input class="form-control" type="text" formControlName="estado" id="estado" [ngClass]="aplicaCssErro('endereco.estado')"
          required>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" mensagemErro="Estado é obrigatório">
        </app-campo-control-erro>
      </div> -->
      <div class="col-2">
        <label for="estado" class="form-label">Estado</label>
        <select class="form-select" formControlName="estado" id="estado" [ngClass]="aplicaCssErro('endereco.estado')" required>
          <option selected></option>
          <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.sigla }}</option>
        </select>
        <app-error-msg [control]="getFieldFormGroup('endereco.estado')" label="Estado"></app-error-msg>
        <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" mensagemErro="Estado é obrigatório">
        </app-campo-control-erro> -->
      </div>

      <!-- <div class="col">
        <label for="cidade" class="form-label">Cidade</label>
        <input class="form-control" type="text" formControlName="cidade" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')"
          required>
        <app-error-msg [control]="getFieldFormGroup('endereco.cidade')" label="Cidade"></app-error-msg>
        <!- - <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" mensagemErro="Cidade é obrigatório">
        </app-campo-control-erro> - ->
      </div> -->

      <div class="col-4">
        <label for="cidade" class="form-label">Cidade</label>
        <select class="form-select" formControlName="cidade" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" required>
          <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
        </select>
        <app-error-msg [control]="getFieldFormGroup('endereco.cidade')" label="Cidade"></app-error-msg>
      </div>

    </div>
  </div>

  <br>
  <p class="text-muted">Outros</p>
  <hr>

  <div class="row">
    <div class="col-2">
      <label for="tecnologias" class="form-label">Tecnologias</label>
      <select multiple class="form-select" formControlName="tecnologias" id="tecnologias" [ngClass]="aplicaCssErro('tecnologias')" required>
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia">{{ tecnologia.desc }}</option>
      </select>
    </div>

    <div class="col-2">
      <label for="cargo" class="form-label">Cargo</label>
      <select class="form-select" formControlName="cargo" id="cargo" [ngClass]="aplicaCssErro('cargo')" required [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>

    <div class="col" [ngClass]="aplicaCssErro('newsletter')">
      <label for="newsletter" class="control-label">Newsletter</label>
      <div id="newsletter">
        <div class="form-check form-check-inline" *ngFor="let opcao of newsletterOp">
          <input class="form-check-input" type="radio" formControlName="newsletter" [value]="opcao.valor">
          <label class="form-check-label" for="newsletter1" >{{ opcao.desc }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="termos" required [ngClass]="aplicaCssErro('termos')">
        <label class="form-check-label" for="flexCheckDefault">
          Aceito os termos
        </label>
      </div>
      <app-error-msg [control]="getFieldFormGroup('endereco.termos')" label="Termos"></app-error-msg>
      <!-- <app-campo-control-erro [mostrarErro]="verificaValidTouched('termos')" mensagemErro="É necessário aceitar os termos">
      </app-campo-control-erro> -->
    </div>
  </div>

  <br>

  <div class="col">
    <label class="form-check-label" for="frameworks">Frameworks</label>
    <div id="frameworks">
      <div class="form-check form-check-inline" formArrayName="frameworks" *ngFor="let item of getFrameworksControls(); let i = index;">
        <input class="form-check-input" type="checkbox" [ngClass]="aplicaCssErro('frameworks')" [formControlName]="i">
        <label class="form-check-label" for="frameworks">
          {{ frameworks[i] }}
        </label>
      </div>
      <!-- <app-campo-control-erro [mostrarErro]="!formulario.get('frameworks')?.valid" mensagemErro="Selecione uma opção">
    </app-campo-control-erro> -->
    <app-error-msg [control]="getFieldFormGroup('endereco.frameworks')" label="Frameworks"></app-error-msg>
    </div>
  </div>

  <br>
  <div class="">
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-default" (click)="resetar()">Cancelar</button>
    <button class="btn btn-info" (click)="setarCargo()">Cargo</button>
    <button class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>
  </div>
  <br>
  <app-form-debug [formulario]="formulario"></app-form-debug>
</form>
