  <div class="modal-header">
    <h5 class="modal-title">{{ textoTitulo }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="confirmAndClose(false)"></button>
  </div>
  <div class="modal-body">
    <p>{{ textoCorpo }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel" (click)="onClose()">{{ textoBotaoCancelar
      }}</button>
    <button type="button" class="btn btn-primary" aria-label="Confirm" (click)="onConfirm()">{{ textoBotaoConfirmar }}</button>
  </div>
