<div class="card mt-3" >
  <div class="card-header">
    <div class="float-start">
      <h4>Cursos</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-primary m-1" [routerLink]="['novo']">Novo</button>
      <button type="button" class="btn btn-secondary m-1" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loading">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <th scope="row">{{ curso.id }}</th>
          <td>{{ curso.nome }}</td>
          <td>
            <span class="float-end">
              <button type="button" class="btn btn-outline-warning m-1 btn-sm" [routerLink]="['atualizar']">Atualizar</button>
              <button type="button" class="btn btn-outline-danger m-1 btn-sm" [routerLink]="['remover']">Remover</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError">
        Erro ao carregar cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loadingNoError>
        <div class="d-flex align-items-center">
          Carregando...
          <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
